@import "tailwindcss";
@import '@fontsource/domine/index.css';
@import '@fontsource-variable/funnel-display';
@import '@fontsource-variable/karla';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@utility font-sf-pro {
  font-family: 'SF Pro', sans-serif;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility progressive-backdrop-blur {
   mask: linear-gradient(to top, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}

@utility progressive-backdrop-blur-reverse {
    mask: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 60%);
}

@layer base {
  html {
    font-family: var(--font-primary), sans-serif;
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  p, h1, h2, h3, h4, h5, h6 {
    cursor: text;
  }
}

@theme {
  /* Colors */
  --color-material: rgba(255, 255, 255, 0.55);

  --color-button-material: rgba(196, 196, 196, 0.35);
  --color-button-material-hover: rgba(255, 255, 255, 0.25);
  --color-button-elements: rgba(26, 56, 84, 1);

  --color-slide: rgba(255, 255, 255, 0.8);

  --color-white-200: rgba(255, 255, 255, 0.2);
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-400: rgba(255, 255, 255, 0.4);
  --color-white-600: rgba(255, 255, 255, 0.6);
  --color-white-800: rgba(255, 255, 255, 0.8);

  --color-black-150: rgba(0, 0, 0, 0.15);
  --color-black-200: rgba(0, 0, 0, 0.2);
  --color-black-400: rgba(0, 0, 0, 0.4);
  --color-black-600: rgba(0, 0, 0, 0.6);
  --color-black-700: rgba(0, 0, 0, 0.7);
  --color-black-750: rgba(0, 0, 0, 0.75);
  --color-black-800: rgba(0, 0, 0, 0.8);
  --color-black-900: rgba(0, 0, 0, 0.9);
    --color-black: rgba(0, 0, 0, 0.9);

  --color-gray-150: rgba(196, 196, 196, 0.15);

  --color-green-250: rgba(80, 182, 73, 0.80);
  --color-dark-green-0: rgba(4, 54, 65, 0);
  --color-dark-green: rgba(5, 63, 73, 1);
  --color-darker-green: rgba(9, 41, 43, 1);

  --color-red-250: rgba(212, 94, 94, 0.80);

  --color-blue-dark: rgba(45, 79, 110, 1);
  --color-blue-full-900: rgba(0, 7, 18, 1);

  /* Shadows */
  --shadow-material:  -6px 9px 150px -27px rgba(0, 0, 0, 0.18),  13px -9px 58px -27px rgba(0, 0, 0, 0.1), inset  -1px 1px 4px 0px rgba(0, 0, 0, 0.04), inset 1px -1px 3px 0px rgba(0, 0, 0, 0.12);  --shadow-slide: -6px 9px 150px -27px rgba(0, 0, 0, 0.18),  13px -9px 58px -27px rgba(0, 0, 0, 0.1), inset  -1px 1px 4px 0px rgba(0, 0, 0, 0.04), inset 1px -1px 3px 0px rgba(0, 0, 0, 0.12);

  /* Border radius */
  --radius-material: 30px;
  --radius-slide: 50px;

  /* Spacings */
  --spacing-slide-height: 796px;
  --spacing-slide-width: 1192px;

  --spacing-profile-card-width: 296px;
  --spacing-profile-card-height: 486px;

  /* Grid */
  --grid-template-cols-main-layout: 15% 1fr 15%;

  /* Fonts-Family */
  --font-headings: 'Funnel Display Variable', system-ui;
  --font-primary: 'Karla Variable', sans-serif;

  /* Shadcn theme */
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: rgba(101, 178, 230, 1);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --border-secondary: rgba(188, 228, 254, 1);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-border-secondary: var(--border-secondary);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}